.lyrics,
.artist,
.audio {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.lyrics {
  margin-top: 4%;
}

.artist a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
}
